@media only screen and (max-width: 700px) {
	body {

	}

	.content {
		height: calc(100vh - 90px);
		margin: 0 auto 0 auto;
		max-width: calc(100% - 40px);
		overflow-y: scroll;
		padding: 0 20px;
		width: 100%;
	}

	#header {
		padding: 20px 0;
		width: 100%;
	}

	.header-image {
		height: 50px;
	}

	.header-item.left {
		text-align: center;
		margin: auto;
	}

	#main {
		padding: 90px 0px;
		position: fixed;
		top: 0;
		width: 100%;
	}

	table {
		max-width: calc(100% - 80px);
	}

	td {
		border-top: 1px solid #CFCFCF;
		color: #030303;
		font-family: "Rubik", sans-serif;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: 1px;
		padding: 10px 10px;
		vertical-align: top;
	}

	th {
		color: #030303;
		font-family: "Rubik", sans-serif;
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 1px;
		padding-bottom: 10px;
		vertical-align: top;
		width: 33%;
	}

	.trapezoid {
		display: none;
	}

	.trapezoid-bottom {
		display: none;
	}
}